.preview-holder{
    margin-top: 5px;
    overflow-y: scroll;
    max-height: 93%;
    width: 100%;
    background-color: rgb(255, 127, 80, 0);
    
}

.preview-holder::-webkit-scrollbar{
    background: rgb(255, 255, 255, 0);
    width: 3px;
}

.preview-holder::-webkit-scrollbar-thumb{
    background: rgba(90,90,90,0.5)
    
}

